@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;700&family=Oswald:wght@300;400;500;600;700&display=swap');


:root{
    /* Colores */
    --orange           : #FF7A03;
    --ligthBlue        : #0B3948;
    --darkBlue         : #002733;
    --darkColor        : #001019;
    /* Tipografía */
    --tipo-principal   : font-family: font-family: 'Oswald', sans-serif;     
    --tipo-secundaria  : 'Montserrat Alternates', sans-serif;
}
    

